<div class="container">
    <div class='main'>
        <div class='title'>
            Admin Portal
        </div>
        <div class='username_form'>
            {{frost-bunsen-form
            bunsenModel=portalModel
            bunsenView=portalView
            disabled=isFormDisabled
            onChange=(action "formChange")
            onValidation=(action "formValidation")
            }}
        </div>
        <div class='bar'>
          <div class='link'>
            {{frost-button
            disabled=(or isFormDisabled isFormInvalid)
            onClick=(action "createUser")
            priority="secondary"
            size="medium"
            text="Create User"
            }}
          </div>
          <div class='link'>
            {{frost-button
            disabled=(or isFormDisabled isFormInvalid)
            onClick=(action "updateUserInfo")
            priority="secondary"
            size="medium"
            text="Update User"
            }}
          </div>
          <div class='link'>
            {{frost-button
            disabled=(or isFormDisabled isFormInvalid)
            onClick=(action "getUserInfo")
            priority="secondary"
            size="medium"
            text="Get User"
            }}
          </div>
          <div class='link'>
            {{frost-button
            disabled=(or isFormDisabled isFormInvalid)
            onClick=(action "deleteUser")
            priority="secondary"
            size="medium"
            text="Delete User"
            }}
          </div>
      </div>
      <div class='result'>
      </div>
    </div>
    <div class='footer'>
        <span class='ciena-image-filler'>
        </span>
        <span class='bar'>
            <span class='link'>
                {{#frost-link 'index'
                priority='secondary'
                size='small'
                tab-index='-1'}}
                Sign Up
                {{/frost-link}}
            </span>
            <span class='link'>
                <a href='https://www.github.com/ciena-blueplanet/webdriverio-server'>
                    <div class='content'>
                        Interested in Contributing?
                    </div>
                </a>
            </span>
        </span>
        <span class='footer-image'>
            <img src="./images/ciena_logo.png">
        </span>
    </div>
</div>
